    * {
      padding: 0;
      margin: 0;
    }

    html {
      overflow-x: hidden;
    }

    .main {
      display: flex;
      flex-direction: row;
    }

    #menu {
      padding: 0;
      height: 100vh;
    }

    #toDoText {
      color: green;
      font-size: x-large;
      font-weight: bold;
    }

    li a {
      color: black;
      text-decoration: none;
    }

    /*top navbar underline hover*/

    body {
      padding: 0;
      margin: 0;

      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      /*background-color: #DDD;*/
    }

    .navbar {
      display: flex;
      flex-wrap: unset;
    }

    .nav-link {
      font-weight: bold;
      font-size: 14px;
      text-decoration: none;
      color: black;
      padding: 20px 0px;
      margin: 0px 20px;
      display: inline-block;
      position: relative;
      opacity: 0.75;
    }

    .nav-link:hover {
      opacity: 1;
      color: green;

    }

    .nav-link::before {
      transition: 300ms;
      height: 5px;
      content: "";
      position: absolute;
      background-color: green;
    }

    .nav-link-ltr::before {
      width: 0%;
      bottom: 10px;
    }

    .nav-link-ltr:hover::before {
      width: 60%;
    }

    .nav-link-fade-up::before {
      width: 100%;
      bottom: 5px;
      opacity: 0;
    }

    .nav-link-fade-up:hover::before {
      bottom: 10px;
      opacity: 1;
    }

    .nav-link-grow-up::before {
      height: 0%;
      width: 100%;
      bottom: 0px;
    }

    .nav-link-grow-up:hover::before {
      height: 5px;
    }

    .active::before {
      width: 60%;
      color: green;
    }

    /*end*/

    .active {
      color: green;
    }

    .header {
      text-align: center;
      margin-top: 18px;
    }

    .divider {
      padding-left: 12px;
      background-color: #0080000d;
    }

    .container-test {
      padding: 0;
      margin: 0;
    }

    .container-test input {
      border: 0;
      background-color: #dddbdb8f;
    }

    .container-test span {
      border: 0;
      background-color: #dddbdb8f;
    }

    .container-test span:hover {
      cursor: pointer;
    }

    .work h2 {
      font-family: initial;
      font-weight: bold;
    }

    .btn button {
      width: 9rem;
      background-color: #49f249a3;
      color: black;
      border-radius: 0;
      box-shadow: 0em 1px 1.4em #49f249a3;
      border: 0;
    }

    .card {
      flex-direction: row;
      height: 4rem;
      margin-top: 2px;
    }

    .card:hover {
      background-color: #49f249a3;
      transform: scale(1.01);
      cursor: pointer;
      box-shadow: 0em 12px 1.4em #49f249a3;
    }

    .badges {
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .card h5 {
      font-size: 0.9rem;
      font-weight: bold;
    }

    .card h6 {
      font-size: 0.7rem;
    }

    .sidebar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .defult-hover:hover {
      opacity: 1;
      color: green;

    }

    .mid,
    .divider-last {
      background-color: #f9f9f9;
    }

    .img-circle {
      border-radius: 100%;
      width: 32px;
      height: 32px;
    }

    .sidebar-top {
      display: flex;
      /*flex-direction: column ;*/
      align-items: center;
      justify-content: end;
    }

    .right {
      width: 30%;
      background-color: #0080000d;
    }

    .sidebar-top img {
      box-shadow: 0em 1em 1.4em #49f249a3;
    }

    .sidebar-top i {
      margin-right: 13px;
    }

    .sidebar-date {
      display: flex;
      align-items: center;
      text-align: center;
    }

    .sidebar-badge {
      margin-left: 4px;
    }

    .Summory {
      display: flex;
      align-items: self-end;
    }

    .Summory h5 {
      border-bottom: 1px solid;
    }

    .Summory svg {
      position: absolute;
      right: 1rem;
    }

    .mid {
      width: 45%;
    }

    .left {
      width: 25%;
    }

    .sidebar-main {
      width: 90%;
      display: none;
    }

    .sidebar input[type='text'] {
      border: 0;
      background-color: #dddbdb8f;
    }

    #notes {
      padding-left: 5px;
      font-size: 0.8rem;
      width: 58%;
      height: 25px;
      margin-left: 4%;
    }

    #notes p {
      font-stretch: extra-condensed;
    }

    .divider span {
      background-color: black;
      margin-top: 4px;
      width: 22px;
      height: 3px;
      display: flex;
      margin-right: 4px;
    }

    #spanNav {
      display: none;
      flex-direction: column;
    }
    .wait{
display: flex;
    }
    /*892px media query*/

    @media screen and (max-width: 892px) {
      .left {
        display: none;
      }
      .mid {
        width: 60%;
      }
      .right {
        width: 40%;
      }
      #spanNav {
        display: flex;
      }
    }
